.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
  @include lato;
  text-align: center;
  background-color: #fff;

  &__content{
    margin-bottom: 109px;
    line-height: 48px;
    text-transform: uppercase;

    p{
      font-size: 24px;
      letter-spacing: 9.6px;
    }

    h2{
      font-size: 36px;
      font-weight: 900;
      letter-spacing: 14.4px;
    }

  }

  &__preview{
    position: relative;
    max-width: 100%;

    img{
      display: block;
      width: 100%;
    }

  }

  &__skip{
    position: absolute;
    left: 50%;
    bottom: -41px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;


    &:hover{
      box-shadow: 0 26px 30px 0 rgba(0, 0, 0, 0.1);

      svg{
        fill: #006f50;
      }

    }

    svg{
      position: absolute;
      top: 25px;
      left: calc( 50% - 8.5px);
      width: 17px;
      enable-background:new 14 -4.7 24 55.4;
      animation-name: arrowDown;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-iteration-count: infinite;
      animation-fill-mode: none;
      animation-play-state: running;
      -webkit-transition: fill .3s ease;
      transition: fill .3s ease;

      .st0{
        fill: none;
      }

    }

  }

}