//fonts
@mixin lato() {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//absoluteCenter
@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}

//justify-flex
@mixin justify-flex() {
  display: flex;
  justify-content: space-between;
}

//align-center-flex
@mixin align-center-flex() {
  display: flex;
  align-items: center;
}

//blockCentered
@mixin blockCentered() {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}
