.mobile-menu-btn {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 34px;
  height: 27px;
  padding: 12px 0;
  background-color: transparent;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: transform .3s ease;
  transition: transform .3s ease;

  &:after{
    position: absolute;
    top: -3.5px;
    bottom: -3.5px;
    left: calc( 50% - 1px );
    width: 2px;
    background-color: #006f51;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    content: '';
  }

  span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #131724;
    transition: top .3s ease, transform .3s ease, background-color .3s ease;
    -webkit-transition: top .3s ease, transform .3s ease, background-color .3s ease;

    &:before,
    &:after{
      position: absolute;
      left: 0;
      right: 0;
      height: inherit;
      background-color: inherit;
      transition: opacity .3s ease .3s;
      -webkit-transition: opacity .3s ease .3s;
      content: '';
    }

    &:before{
      top: 3px;
    }

    &:after{
      bottom: 3px;
    }

  }

  &.close {
    -webkit-transition: transform .3s ease .2s;
    transition: transform .3s ease .2s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    &:after{
      transition: transform .3s ease .4s;
      -webkit-transition: transform .3s ease .4s;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    span {
      background-color: #006f51;
      -webkit-transition: top .3s ease .2s, background-color .3s ease .2s;
      transition: top .3s ease .2s, background-color .3s ease .2s;

      &:before, &:after {
        opacity: 0;
        -webkit-transition: opacity .2s ease;
        transition: opacity .2s ease;
      }

    }

  }

}

@media (min-width: $desktop) {

  .mobile-menu-btn {
    display: none;
  }

}