.promo {
  position: relative;
  max-width: 1760px;
  margin: 0 auto 58px;

  img{
    display: block;
    max-width: 100%;
  }

  > img{
    display: none;
  }

  &__frame{
    margin: 0 15px;
  }

  &__item{
    height: 283px;
    margin: 0 auto;
    padding: 25px 15px 0;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4.8px;
    background-color: #fff;
    text-align: center;

    img{
      margin: 0 auto;
    }

    p{
      margin-bottom: 23px;
    }

    svg{
      position: relative;
      left: -3px;
      width: 118px;
      enable-background:new 168 38.4 932.1 764.5;

      .st0{
        fill:none;
        stroke:#006f51;
        stroke-width:4;
        stroke-miterlimit:10;
      }

    }

    &_right svg{
      width: 122px;
    }

    &-square{
      position: absolute;
      top: 32px;
      left: 0;
      right: 0;
      width: 100%;
      padding: 4px 0;
      background-color: #fff;
      color: #006f51;
      font-size: 30px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: 9px;
    }

    &-img{
      position: relative;
      font-size: 12px;
      font-weight: 800;

      svg{
        margin-bottom: -23px;
      }

      span{
        position: relative;
        top: 1px;
        padding: 0 3px 0 2px;
        letter-spacing: 4px;
        background-color: #fff;
      }

    }

  }

}

@media (min-width: $phone-landscape) {

  .promo {

    &__item{
      width: 290px;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .promo {
    margin-bottom: 188px;

    > img{
      display: block;
    }

    &__frame{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      left: 50%;
      bottom: 50%;
      margin: 0;
      padding-top: 27px;
      -webkit-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
    }

    &__item{
      font-size: 16px;
      padding: 39px 20px 0;
    }

  }

}

@media (min-width: $tablet-landscape) {

  .promo {

    &__item{
      width: 385px;
      padding:53px 30px 0 20px;

      svg{
        width: 118px;
        height: 97px;
      }

      &_right{
        padding: 53px 50px 0 69px;
      }

    }

  }

}

@media (min-width: $desktop) {

  .promo {

    &__item{
      opacity: 0;
      -webkit-transition: opacity 1.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: opacity 1.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

      &_left{
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
      }

      &_right{
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
      }

    }

  }

  .animation{

    .promo {

      &__item{
        opacity: 1;

        &_left{
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }

        &_right{
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }

      }

    }

  }

}