.references {
  position: relative;
  padding: 102px 0;
  z-index: 1;

  &__title{
    position: absolute;
    top: 84px;
    left: -3px;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 17.8px;
    text-transform: uppercase;
    z-index: 2;

    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
    -webkit-transition: transform .3s ease .6s, opacity .3s ease .7s;
    transition: transform .3s ease .6s, opacity .3s ease .7s;

    & + .references__column:before{
      height: 340px;
      margin-bottom: 60px;
      content: '';
    }

  }

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    max-width: 1760px;
    margin: 0 auto;
  }

  &__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &:nth-child( odd ){

      .references__item:nth-child( odd ) img{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }

      .references__item:nth-child( even ) img{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }

    }

    &:nth-child( even ){

      .references__item:nth-child( odd ) img{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }

      .references__item:nth-child( even ) img{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }

    }

  }

  &__item{
    position: relative;
    max-width: 395px;
    margin-bottom: 60px;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
      -webkit-transition: transform .3s ease .6s;
      transition: transform .3s ease .6s;
    }

    &:after{
      position: absolute;
      top: 35px;
      right: 40px;
      bottom: 35px;
      left: 40px;
      background: url("../img/open_arrow.svg") no-repeat center rgba(255,255,255,.8);
      background-size: 62px;
      opacity: 0;
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease;
      content: '';
    }

    &:hover:after{
      opacity: 1;
    }

  }

  &.animate-block{

    .references{

      &__item img{
        -webkit-transform: translateX(0)!important;
        transform: translateX(0)!important;
      }

      &__title{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }

    }

  }

}

