.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  &__wrap{
    position: relative;
    max-width: 1760px;
    margin: 0 auto;
  }

  &__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0!important;

    &.swiper-slide-active{
      opacity: 1!important;
    }

  }

  &__img{
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    opacity: 0;
    -webkit-transition: transform .3s ease .5s, opacity .3s ease .6s;
    transition: transform .3s ease .5s, opacity .3s ease .6s;
  }

  &__content{
    position: relative;
    padding-bottom: 54px;
    color: $services-content;

    & > div{
      width: 370px;
      margin-left: 115px;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      text-align: left;
    }

    h2{
      margin: 0 0 58px -189px;
      font-size: 60px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: 9.6px;
      text-transform: uppercase;

      -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
      opacity: 0;
      -webkit-transition: transform .3s ease .8s, opacity .3s ease .9s;
      transition: transform .3s ease .8s, opacity .3s ease .9s;
    }

  }

  &__more{
    display: block;
    margin-top: 63px;
    color: $services-content;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;

    &:after{
      position: relative;
      top: -1px;
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      margin-left: 13px;
      border-top: 2px solid $services-arrow;
      border-right: 2px solid $services-arrow;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
      -webkit-transition: border-color .3s ease;
      transition: border-color .3s ease;
    }

    &:hover:after{
      border-top-color: $services-arrow-hover;
      border-right-color: $services-arrow-hover;
    }

  }

  &__pagination{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;

    span{
      width: 28px;
      height: 3px;
      margin: 7.5px 0;
      background-color: $services-arrow;
      border-radius: 0;
      opacity: 1;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: width .3s ease, background-color .3s ease;
      transition: width .3s ease, background-color .3s ease;
      cursor: pointer;

      &.swiper-pagination-bullet-active{
        width: 48px;
        background-color: $services-arrow-hover;
      }

      &:nth-child(1){
        -webkit-transition: width .3s ease, background-color .3s ease, transform .3s ease .6s;
        transition: width .3s ease, background-color .3s ease, transform .3s ease .6s;
      }

      &:nth-child(2){
        -webkit-transition: width .3s ease, background-color .3s ease, transform .3s ease .9s;
        transition: width .3s ease, background-color .3s ease, transform .3s ease .9s;
      }

      &:nth-child(3){
        -webkit-transition: width .3s ease, background-color .3s ease, transform .3s ease 1.2s;
        transition: width .3s ease, background-color .3s ease, transform .3s ease 1.2s;
      }

      &:nth-child(4){
        -webkit-transition: width .3s ease, background-color .3s ease, transform .3s ease 1.5s;
        transition: width .3s ease, background-color .3s ease, transform .3s ease 1.5s;
      }

    }

  }

}

.animate-scene{

  .services{

    &__pagination span{
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }

}

.animate-slide{

  .services{

    &__img{
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

    &__content{

      h2{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }

    }

  }

}
